<a href="https://colab.research.google.com/github/rigolabbe/desafioLATAMg69/blob/main/RAL_Desafio1_estadistica_descriptiva_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

data  = pd.read_csv("/content/sample_data/train.csv")

#Las variables cualitativas nominales son categorías que no se pueden clasificar.
#Veamos, por ejemplo, algunos tipos de frutas: naranjas, uvas, peras y manzanas. Son variables
#nominales porque no existe un orden de clasificación implícito entre ellas.

data["Sex"]
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

# Nueva sección

In [ ]:
#la MODA es el dato que mas se repite por lo tanto en este caso es MALE 577
#LA MODA
data.groupby("Sex")["PassengerId"].count()

Sex
female    314
male      577
Name: PassengerId, dtype: int64

In [ ]:
# Analisis de variables cuantitativas
# LA MEDIA aritmetica ,  promedio de los datos    .mean()
data["Age"].mean()

#

29.69911764705882

In [ ]:
# LA MODA  mode()
data["Age"].mode()

0    24.0
Name: Age, dtype: float64

In [ ]:
# LA MEDIANA , ES EL VAOR DEL 50 %
a = [1,5,2,3,40]
np.quantile(a,q=0.50)

3.0

In [ ]:
# cuartiles  valores se separan en 25% 50% 75% 100 %    ,  el cuartil 2 es la meidana
# Outliers datos atipicos np.quantile(a,q=0.25)  np.quantile(a,q=0.50)  np.quantile(a,q=0.75)

In [ ]:
# varianza que tan alejados estan los datos de la media  o que tan dispersos son los datos .var()
# a = [1,3,5,2]   # este promedio es 2,75
np.array([1,3,5,2]).var()
#
# para la dispersion es mejor utilizar la desviacion standard que la varianza  REVISAR!!

2.1875

In [ ]:
#  DESVIACION STANDAR  revosaar diferencia entre este y varianza

np.array([1,3,5,2]).std()

1.479019945774904

In [ ]:
# RANGO , diferencia entre el minimo y el maximo
rango = data["Age"].max() - data["Age"].min()
rango

79.58

In [ ]:
# asimetria es un indicador que indica hacia que lado  de la curva estan  sesgadps los datos
# negativos hacia la izq del promedio , derecha positivos del promedio
data["Age"].skew()

0.38910778230082704

In [ ]:
import numpy as np
import pandas as pd

data_sal  = pd.read_csv("/content/sample_data/ds_salaries.csv")
data_sal

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

# PREGUNTA 1 DESAFIO:  El promedio general de los salarios, desviación estándar, quintiles y rango. (hint:
#  escoge la columna adecuada para comparar)

In [ ]:

# PREGUNTA 1 DESAFIO:  El promedio general de los salarios, desviación estándar, quintiles y rango. (hint:
#  escoge la columna adecuada para comparar)
s_q = data_sal["salary"]

promedio = data_sal["salary"].mean()
desv_std = data_sal["salary"].std()

qtles_20 = np.quantile(s_q,q=0.20)
qtles_40 = np.quantile(s_q,q=0.40)
qtles_60 = np.quantile(s_q,q=0.60)
qtles_80 = np.quantile(s_q,q=0.80)

rango = data_sal["salary"].max() - data_sal["salary"].min()

print("El promedio general de los salarios es  " , promedio)
print("El desviacion estandard general de los salarios es  " , desv_std)
print("El quintil 20  de los salarios es  " , qtles_20)
print("El quintil 40  de los salarios es  " , qtles_40)
print("El quintil 60  de los salarios es  " , qtles_60)
print("El quintil 80  de los salarios es  " , qtles_80)
print("El rango general de los salarios es  " , rango)

El promedio general de los salarios es   190695.57177097205
El desviacion estandard general de los salarios es   671676.5005079068
El quintil 20  de los salarios es   85000.0
El quintil 40  de los salarios es   123628.8
El quintil 60  de los salarios es   150000.0
El quintil 80  de los salarios es   191475.0
El rango general de los salarios es   30394000

 2. Una comparación entre los salarios agrupados por 3 diferentes categorías a tu
 elección. ¿Para cuál de ellas las medidas de tendencia central son más
 representativas? ¿Para cuál son menos representativas? Explica.

In [83]:
g_prom = data_sal.groupby("experience_level")["salary"].mean()
g_desv_std = data_sal.groupby("job_title")["salary"].std()
g_rango = data_sal.groupby("company_size")["salary"].max() - data_sal["salary"].min()

compan_size = pd.pivot_table(data_sal, values=["salary"], index=["company_size"], aggfunc=[ "mean" ,"std", "min", "max"])
compan_level = pd.pivot_table(data_sal, values=["salary"], index=["experience_level"], aggfunc=[ "mean","std", "min", "max"])
compan_job = pd.pivot_table(data_sal, values=["salary"], index=["job_title"], aggfunc=[ "mean","std", "min", "max"])

print(compan_size)
print(compan_level)
print(compan_job)

#  segun se revisan los datos en la categoria por tamaño de empresa se ven los salarios hay menos dispersion
# o la desviacion standars es menor en empresas  grandes o medianas  ,  por el contrario las empresas mas pequeñas presentan una mayor
# distancia entre los rangos de salarios minimos y maximo.

                       mean           std    min       max
                     salary        salary salary    salary
company_size
L             438794.372247  1.779806e+06   8000  30400000
M             150712.836029  1.593233e+05   7500   6600000
S             281430.101351  9.912145e+05   6000   8500000
                           mean           std    min       max
                         salary        salary salary    salary
experience_level
EN                188381.178125  5.290557e+05   6000   6600000
EX                246802.201754  5.481897e+05  15000   6000000
MI                248200.306832  1.302669e+06   7500  30400000
SE                170048.965421  2.833540e+05   8000   7500000
                                        mean            std     min      max
                                      salary         salary  salary   salary
job_title
3D Computer Vision Researcher  120000.000000  187438.878927   10000   400000
AI Developer                   137181.818182   93977.463449    6000   300000
AI Programmer                   55000.000000   21213.203436   40000    70000
AI Scientist                   275312.500000  455222.102385   12000  1500000
Analytics Engineer             151352.621359   55087.886215    7500   289800
...                                      ...            ...     ...      ...
Research Engineer              162752.810811   55508.181140   60000   293000
Research Scientist             160768.890244   76042.517261   23000   450000
Software Data Engineer          75000.000000   35355.339059   50000   100000
Staff Data Analyst              15000.000000            NaN   15000    15000
Staff Data Scientist           105000.000000            NaN  105000   105000

[93 rows x 4 columns]

¿Quécargos reciben mejores sueldos en las empresas con sede en Estados Unidos?

In [ ]:
# filtramos los datos soolo a US
data_sal_us= data_sal[data_sal['company_location']=='US']

# agrupamos los datos filtrados por cargos y calculamos promedio
data_sal_us.groupby("job_title")["salary"].mean()
# segun los datos los tres cargos que ganan  mas en US son : Applied Data Scientist  , AI Developer  , Principal Machine Learning Engineer

job_title
AI Developer                           200000.000000
AI Scientist                           113428.571429
Analytics Engineer                     159024.347826
Applied Data Scientist                 238000.000000
Applied Machine Learning Engineer      130000.000000
                                           ...
Principal Machine Learning Engineer    190000.000000
Product Data Analyst                   120000.000000
Research Engineer                      168156.580645
Research Scientist                     179146.206897
Staff Data Scientist                   105000.000000
Name: salary, Length: 70, dtype: float64